<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.gameserver.module.itemData.dao.ItemMapper">
    <resultMap id="itemResultMap" type="com.game.gameserver.module.itemData.model.ItemModel">
        <id column="id" property="id"/>
        <result column="itemId" property="itemId"/>
        <result column="itemType" property="itemType"/>
        <result column="playerId" property="playerId"/>
        <result column="place" property="place"/>
        <result column="propertyData" property="propertyData" typeHandler="com.game.gameserver.util.BlobTypeHandle"/>
    </resultMap>
    <select id="getItemList" resultMap="itemResultMap">
        SELECT id,itemId,itemType,playerId,place,propertyData FROM
        game_item WHERE playerId = #{playerId} AND place = #{place};
    </select>

    <insert id="insertItem" parameterType="com.game.gameserver.module.itemData.model.ItemModel">
        INSERT INTO game_item SET id=NULL,itemId = #{itemId},itemType = #{itemType},
        playerId = #{playerId},place = #{place} ,propertyData = #{propertyData}
    </insert>
</mapper>