<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.gameserver.mapper.AccountMapper">
    <resultMap id="userResultMap" type="com.game.entity.User">
        <id column="id" property="id"/>
        <result column="login_id" property="loginId"/>
        <result column="password" property="password"/>
    </resultMap>
    <select id="findUserByLoginId" resultMap="userResultMap" parameterType="String">
        SELECT login_id,password FROM game_user WHERE login_id = #{loginId}
    </select>
</mapper>