<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.gameserver.game.account.AccountMapper">
    <resultMap id="userResultMap" type="com.game.gameserver.game.account.Account">
        <id column="id" property="id"/>
        <result column="login_id" property="loginId"/>
        <result column="password" property="password"/>
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>
    <select id="findUserByLoginId" resultMap="userResultMap">
        SELECT id,login_id,password FROM game_user WHERE login_id = #{loginId}
    </select>

    <insert id="createUserByUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.game.gameserver.game.account.Account">
        INSERT  INTO game_user(login_id,password) VALUES (#{loginId},#{password})
    </insert>
</mapper>