<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.gameserver.module.email.dao.EmailMapper">
    <resultMap id="userResultMap" type="com.game.gameserver.module.email.entity.Email">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="senderId" property="senderId"/>
        <result column="senderName" property="senderName"/>
        <result column="content" property="content"/>
        <result column="attachments" property="attachments"/>
        <result column="golds" property="golds"/>
        <result column="playerId" property="playerId"/>
        <result column="state" property="state"/>
        <result column="delete" property="delete"/>
        <result column="expireTime" property="expireTime"/>
    </resultMap>

</mapper>