<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.gameserver.module.equip.dao.EquipMapper">
    <resultMap id="equipResultMap" type="com.game.gameserver.module.equip.model.EquipModel">
        <id column="id" property="id"/>
        <result column="itemId" property="itemId"/>
        <result column="itemType" property="itemType"/>
        <result column="roleId" property="roleId"/>
        <result column="bagId" property="bagId"/>
        <result column="bagIndex" property="bagIndex"/>
        <result column="itemCount" property="itemCount"/>
        <result column="equipId" property="equipId"/>
        <result column="durability"  property="durability"/>
        <result column="equipment"  property="equipment"/>
    </resultMap>
    <select id="getIsEquipmentEquipByRoleId" resultMap="equipResultMap">
        SELECT game_equip.id,itemId,itemType,roleId,bagId,bagIndex,itemCount,equipId,durability,equipment
        FROM game_equip LEFT JOIN game_item ON game_equip.id = game_item.id WHERE
        roleId = #{roleId} AND equipment = 1
    </select>
    <select id="getEquipListByBagId" resultMap="equipResultMap" >
        SELECT game_equip.id,itemId,itemType,roleId,bagId,bagIndex,itemCount,equipId,durability,
        equipment FROM game_equip LEFT JOIN game_item ON game_equip.id = game_item.id WHERE
        bagId = #{bagId} AND  equipment = 0
    </select>
</mapper>