<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.gameserver.game.mapper.GameMapMapper">
    <resultMap id="gameMapResultMap" type="com.game.pojo.GameMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="way" property="way"/>
    </resultMap>
    <select id="list" resultMap="gameMapResultMap">
        SELECT id,name,description,way FROM game_map;
    </select>

</mapper>