<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.gameserver.module.player.dao.PlayerMapper">
    <resultMap id="playerResultMap" type="com.game.gameserver.module.player.entity.PlayerEntity">
        <id column="id" propertyEntity="id"/>
        <result column="name" propertyEntity="name"/>
        <result column="level" propertyEntity="level"/>
        <result column="careerData" propertyEntity="careerData"/>
        <result column="sceneId" propertyEntity="sceneId"/>
        <result column="userId" propertyEntity="userId"/>
        <result column="createTime" propertyEntity="createTime" />
        <result column="updateTime" propertyEntity="updateTime" />
    </resultMap>
    <select id="findPlayerListByAccountId" resultMap="playerResultMap" parameterType="int">
        SELECT id,name,level,careerData,sceneId,userId FROM game_player WHERE userId = #{accountId};
    </select>

    <select id="findPlayerByPlayerId" resultMap="playerResultMap" parameterType="int">
        SELECT id,name,level,careerData,sceneId,userId,createTime,updateTime FROM game_player WHERE id = #{roleId}
    </select>
</mapper>